* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.Background {
    background-image: url(https://kartinki.pics/uploads/posts/2021-01/1611338298_39-p-foni-s-ovoshchami-i-fruktami-dlya-prezenta-43.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Adjustment for the title at the top and the buttons in the middle */
    justify-content: flex-start; /* Align content at the top of the page */
    align-items: center; /* Center horizontally */
}

.pageTitle {
    font-size: 100px;
    color:  rgb(48, 173, 16);
    margin-top: 100px; /* Adjust the margin at the top of the title */
    margin-bottom: 20px; /* Spacing between the title and the buttons */
}

.ButtonContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#categorieGastroButton,
#messagesCreesButton,
#messagesAimesButton {
    background-color: rgb(48, 173, 16);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin: 80px; /* Add margin between the buttons */
}
