* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(https://kartinki.pics/uploads/posts/2021-01/1611338298_39-p-foni-s-ovoshchami-i-fruktami-dlya-prezenta-43.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
    cursor: pointer;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px;
    z-index: 1000;
}

.deroul div {
    display: none;
}

.deroul:hover div {
    display: block;
    position: sticky;
}

.menu {
    background-color: #008b31;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.user {
    display: flex;
    justify-content: right;

}

.user > button {
    font-size: large;
    background-color: rgb(48, 173, 16);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 8px;
}

a > button {
    font-size: large;
    background-color: rgb(48, 173, 16);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 8px;
}

.pageTitle {
    font-size: 50px;
    color: rgb(48, 173, 16);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ButtonContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.ButtonContainer > button {
    background-color: rgb(48, 173, 16);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    margin: 8px;
}

article {
    display: flex;
}

article div {
    cursor: pointer;
    border: 2px solid #85f6c3;
    border-radius: 5px;
    line-height: 25px;
    font-size: small;
    padding: 1px 6px;
    margin: 5px;
    background-color: #85f6c3;
}

article input {
    position: absolute;
    top: auto;
    left: auto;
    width: 100px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}


input[type=checkbox]:checked ~ div {
    background-color: #008b31;
    border: 2px solid #008b31;
}

.posts-container {
    margin-top: 70px; /* pour compenser la hauteur de la navbar */
    padding: 20px;
}
.category-posts {
    margin-bottom: 20px;
    border: 1px solid #055006;
    padding: 10px;
    background-color: #2fb814;
}
.category-posts h3 {
    margin-top: 0;
}
.posts-list {
    list-style-type: none;
    padding: 0;
}
.posts-list li {
    margin-bottom: 5px;
}