<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/Accueil.css">
    <link rel="shortcut icon" href="../../media/téléchargement.jpeg" type="image/x-icon">
    <title>Gastroglobe</title>
</head>
<body>
<div class="navbar">
    <div class="title">
        <div></div>
        <h1 class="pageTitle">Gastroglobe</h1>
        <div class="user">
            <a href="./register">
                <button>Register</button>
            </a>
            <a href="./login">
                <button>Login</button>
            </a>
        </div>
    </div>

    <div class="ButtonContainer">
        <button id="categorieGastroButton">Categorie</button>
        <div class="allbutton">
            
            <!-- {{range .}}
            <button class="bouton">{{.Nom}}</button>
            {{end}} -->
            {{range .}}
            <a href="/posts?id={{.ID}}">
                <button class="bouton">{{.Nom}}</button>
            </a>
            {{end}}
    
        </div>
        <button id="messagesCreesButton">Messages Créés</button>
        <button id="messagesAimesButton">Messages Aimés</button>
    </div>
    <div>
        <form action="/addCategory" method="POST">
            <label for="nom">Nom de la catégorie:</label>
            <input type="text" id="nom" name="nom" required>
            <button type="submit">Ajouter</button>
        </form>
    </div>
</div>
</body>
</html>
