<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/Cat-Posts.css">
    <link rel="shortcut icon" href="../../media/téléchargement.jpeg" type="image/x-icon">
    <title>Gastroglobe</title>
</head>
<body>
<div class="navbar">
    <div class="title">
        <div>
            <div class="pages">
                <a href="./categories">Catégories</a>
                <a href="./nouv_cat">Nouvelle catégorie</a>
                <a href="./nouv_post">Nouveau post</a>
            </div>
        </div>
        <h1><a class="pageTitle" href="/">Gastroglobe</a></h1>
        <div class="user">
            <a href="./register">
                Register
            </a>
            <a href="./login">
                Login
            </a>
        </div>
    </div>
    <hr>
</div>
<div class="tout">
    <h1 class="titre">Catégorie : {{.Categorie.Nom}}</h1>
    <p>{{.Categorie.Description}}</p>
    <h2>Posts</h2>
    <ul class="post-list">
        {{range .Posts}}
        <li class="post">
            <h2 class="post-title">{{.Texte}}</h2>
            <p class="post-category">{{.CategorieNom}}</p>
            <p class="post-date">Publié le: {{.DateHeure}}</p>
            {{if .Photo}}
            <img src="data:image/png;base64,{{.Photo}}" alt="Post Photo"/>
            {{end}}

            <p class="post-comments-title">Commentaires :</p>
            <ul class="comment-list">
                {{range .Comments}}
                <li class="comment">
                    <p class="comment-text">{{.Texte}}</p>
                    <hr>
                </li>
                {{end}}
                {{if eq (len .Comments) 0}}
                <li class="no-comments">Aucun commentaire pour ce post.</li>
                {{end}}
                <form action="/addComment" method="POST">
                    <input type="hidden" name="post_id" value="{{.ID}}">
                    <label for="texte">Ajouter un commentaire :</label><br>
                    <textarea id="texte" name="texte" rows="2" cols="50"></textarea><br>
                    <input type="submit" value="Ajouter">
                </form>
            </ul>
        </li>
        {{end}}
        {{if eq (len .Posts) 0}}
        <li class="no-posts">Aucun post dans cette catégorie.</li>
        {{end}}
    </ul>
</div>
</body>
</html>
