<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/Posts.css">
    <link rel="shortcut icon" href="../../media/téléchargement.jpeg" type="image/x-icon">
    <title>Posts</title>
</head>
<body>
    <h1>Catégorie : {{.Categorie.Nom}}</h1>
    <p>Description : {{.Categorie.Description}}</p>
    <h2>Posts</h2>
    {{range .Posts}}
        <div class="post">
            <h3>Post ID: {{.ID}}</h3>
            <p>{{.Texte}}</p>
            <p class="post-date">Date et Heure: {{.DateHeure}}</p>
            {{if .Photo}}
                <p><img src="data:image/png;base64,{{.Photo}}" alt="Post Photo"/></p>
            {{end}}
        </div>
    {{else}}
        <p>Aucun post dans cette catégorie.</p>
    {{end}}
</body>
</html>
